nodered_flows.json
[
  {
    "id": "tab_esp32_iot",
    "type": "tab",
    "label": "ESP32 IoT System",
    "disabled": false,
    "info": "Hệ thống giám sát và điều khiển ESP32 - 2 Nút bấm: Chế độ Khóa Servo & Điều chỉnh Volume"
  },


  {
    "id": "mqtt_in_distance",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Distance",
    "topic": "iot/sensor/distance",
    "qos": "0",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 80,
    "wires": [["func_distance_process", "ui_gauge_distance", "ui_chart_distance"]]
  },
  {
    "id": "mqtt_in_potval",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Potentiometer",
    "topic": "iot/sensor/potval",
    "qos": "0",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 160,
    "wires": [["func_pot_process"]]
  },
  {
    "id": "mqtt_in_btn1",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Button 1 (Lock Mode)",
    "topic": "iot/sensor/btn1",
    "qos": "0",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 240,
    "wires": [["func_btn1_process", "ui_text_btn1"]]
  },
  {
    "id": "mqtt_in_btn2",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Button 2 (Volume)",
    "topic": "iot/sensor/btn2",
    "qos": "0",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 300,
    "wires": [["func_btn2_process", "ui_text_btn2"]]
  },
  {
    "id": "mqtt_in_door_status",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Door Status",
    "topic": "iot/device/door_status",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 360,
    "wires": [["func_door_status", "ui_text_door_status"]]
  },
  {
    "id": "mqtt_in_led1_state",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: LED1 State",
    "topic": "iot/device/led1_state",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 360,
    "wires": [["func_led1_state", "ui_text_led1_state"]]
  },
  {
    "id": "mqtt_in_led2_state",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: LED2 State",
    "topic": "iot/device/led2_state",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 390,
    "wires": [["func_led2_state", "ui_text_led2_state"]]
  },
  {
    "id": "mqtt_in_lock_mode",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Lock Mode",
    "topic": "iot/device/lock_mode",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 450,
    "wires": [["func_lock_mode", "ui_text_lock_mode"]]
  },
  {
    "id": "mqtt_in_vol_mode",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Volume Mode",
    "topic": "iot/control/vol_mode",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 420,
    "wires": [["func_vol_mode", "ui_text_vol_mode"]]
  },
  {
    "id": "mqtt_in_device_status",
    "type": "mqtt in",
    "z": "tab_esp32_iot",
    "name": "Sub: Device Online",
    "topic": "iot/device/status",
    "qos": "1",
    "datatype": "utf8",
    "broker": "mqtt_broker_config",
    "x": 120, "y": 480,
    "wires": [["ui_text_device_status", "func_status_alert"]]
  },


  {
    "id": "func_distance_process",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Distance",
    "func": "var dist = parseFloat(msg.payload);\nif (isNaN(dist) || dist < 0) return null;\n\nmsg.payload = dist;\n\n// Gắn màu cảnh báo\nif (dist < 10) {\n  msg.color = 'red';\n  msg.alert = 'NGUY HIỂM: Vật quá gần!';\n} else if (dist < 30) {\n  msg.color = 'orange';\n  msg.alert = 'CẢNH BÁO: Vật đang tiếp cận';\n} else {\n  msg.color = 'green';\n  msg.alert = '';\n}\n\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 80,
    "wires": [["ui_gauge_distance", "func_auto_alert"]]
  },
  {
    "id": "func_pot_process",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Pot",
    "func": "msg.payload = parseInt(msg.payload);\nif (isNaN(msg.payload)) return null;\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 160,
    "wires": [["ui_gauge_pot"]]
  },
  {
    "id": "func_btn1_process",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Button 1",
    "func": "var state = msg.payload;\nif (state === 'PRESSED') {\n  msg.payload = '🔴 Đang nhấn';\n  // Tự động quay về ready sau 500ms\n  setTimeout(() => {\n    msg.payload = '🟢 Sẵn sàng';\n  }, 500);\n} else {\n  msg.payload = '🟢 Sẵn sàng';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 240,
    "wires": [["ui_text_btn1"]]
  },
  {
    "id": "func_btn2_process",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Button 2",
    "func": "var state = msg.payload;\nmsg.payload = (state === 'PRESSED') ? '🔴 Đang nhấn' : '🟢 Nhả ra';\nmsg.pressed = (state === 'PRESSED');\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 300,
    "wires": [["ui_text_btn2"]]
  },
  {
    "id": "func_door_status",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Door Status",
    "func": "var status = msg.payload;\nif (status === 'LOCKED') {\n  msg.payload = '🔴 CỬA KHÓA';\n  msg.color = 'red';\n} else if (status === 'OPEN') {\n  msg.payload = '🟢 CỬA MỞ';\n  msg.color = 'green';\n} else {\n  msg.payload = '🟡 CỬA ĐÓNG';\n  msg.color = 'blue';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 360,
    "wires": [["ui_text_door_status"]]
  },
  {
    "id": "func_led1_state",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process LED1 State",
    "func": "if (msg.payload === 'ON') {\n  msg.payload = '💡 LED1: BẬT';\n} else {\n  msg.payload = '⚫ LED1: TẮT';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 360,
    "wires": [["ui_text_led1_state"]]
  },
  {
    "id": "func_led2_state",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process LED2 State",
    "func": "if (msg.payload === 'ON') {\n  msg.payload = '💡 LED2: BẬT';\n} else {\n  msg.payload = '⚫ LED2: TẮT';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 390,
    "wires": [["ui_text_led2_state"]]
  },
  {
    "id": "func_lock_mode",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Lock Mode",
    "func": "if (msg.payload === 'ON') {\n  msg.payload = '🔒 KÍCH HOẠT';\n} else {\n  msg.payload = '🔓 TẮT';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 450,
    "wires": [["ui_text_lock_mode"]]
  },
  {
    "id": "func_vol_mode",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Process Volume Mode",
    "func": "if (msg.payload === 'ON') {\n  msg.payload = '🟢 KÍCH HOẠT';\n} else {\n  msg.payload = '🔴 TẮT';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 420,
    "wires": [["ui_text_vol_mode"]]
  },
  {
    "id": "func_status_alert",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Status Alert",
    "func": "if (msg.payload === 'offline') {\n  node.warn('ESP32 đã mất kết nối!');\n  msg.payload = '🔴 ESP32 OFFLINE';\n} else {\n  msg.payload = '🟢 ESP32 ONLINE';\n}\nreturn msg;",
    "outputs": 1,
    "x": 360, "y": 480,
    "wires": [["ui_text_device_status"]]
  },
  {
    "id": "func_auto_alert",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Auto Alert",
    "func": "if (msg.alert && msg.alert !== '') {\n  node.warn(msg.alert + ' (' + msg.payload + 'cm)');\n}\nreturn null;",
    "outputs": 1,
    "x": 560, "y": 80,
    "wires": [[]]
  },


  {
    "id": "mqtt_out_servo",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: Servo Control",
    "topic": "iot/control/servo",
    "qos": "1",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 560,
    "wires": []
  },
  {
    "id": "mqtt_out_lock",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: Lock Control",
    "topic": "iot/control/lock",
    "qos": "1",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 595,
    "wires": []
  },
  {
    "id": "mqtt_out_vol_mode",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: Volume Mode",
    "topic": "iot/control/vol_mode",
    "qos": "1",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 680,
    "wires": []
  },
  {
    "id": "mqtt_out_led1",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: LED 1 Control",
    "topic": "iot/control/led1",
    "qos": "1",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 740,
    "wires": []
  },
  {
    "id": "mqtt_out_led2",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: LED 2 Control",
    "topic": "iot/control/led2",
    "qos": "1",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 800,
    "wires": []
  },
  {
    "id": "mqtt_out_lcd",
    "type": "mqtt out",
    "z": "tab_esp32_iot",
    "name": "Pub: LCD Message",
    "topic": "iot/control/lcd",
    "qos": "0",
    "retain": false,
    "broker": "mqtt_broker_config",
    "x": 700, "y": 860,
    "wires": []
  },


  {
    "id": "ui_gauge_distance",
    "type": "ui_gauge",
    "z": "tab_esp32_iot",
    "name": "Gauge: Distance",
    "group": "ui_group_sensors",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Khoảng cách (cm)",
    "label": "cm",
    "format": "{{value | number:1}}",
    "min": 0,
    "max": 400,
    "colors": ["#00b500","#e6e600","#ca3838"],
    "seg1": 30,
    "seg2": 10,
    "x": 560, "y": 80,
    "wires": []
  },
  {
    "id": "ui_chart_distance",
    "type": "ui_chart",
    "z": "tab_esp32_iot",
    "name": "Chart: Distance History",
    "group": "ui_group_sensors",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "Lịch sử khoảng cách",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Chưa có dữ liệu",
    "ymin": "0",
    "ymax": "400",
    "removeOlder": "5",
    "removeOlderPoints": "100",
    "removeOlderUnit": "60",
    "cutout": 0,
    "colors": ["#1565c0"],
    "x": 560, "y": 140,
    "wires": []
  },
  {
    "id": "ui_text_btn1",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_sensors",
    "order": 4,
    "width": 6,
    "height": 1,
    "name": "Text: Button 1 State",
    "label": "Nút 1 (Lock Mode)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 240,
    "wires": []
  },
  {
    "id": "ui_text_btn2",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_sensors",
    "order": 5,
    "width": 6,
    "height": 1,
    "name": "Text: Button 2 State",
    "label": "Nút 2 (Volume)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 300,
    "wires": []
  },
  {
    "id": "ui_text_door_status",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 1,
    "width": 4,
    "height": 1,
    "name": "Text: Door Status",
    "label": "Trạng thái Cửa",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 360,
    "wires": []
  },
  {
    "id": "ui_text_led1_state",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 1.5,
    "width": 4,
    "height": 1,
    "name": "Text: LED1 State",
    "label": "LED1 (Lock)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 360,
    "wires": []
  },
  {
    "id": "ui_text_led2_state",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 2,
    "width": 4,
    "height": 1,
    "name": "Text: LED2 State",
    "label": "LED2 (Volume)",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 390,
    "wires": []
  },
  {
    "id": "ui_text_vol_mode",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 2.5,
    "width": 12,
    "height": 1,
    "name": "Text: Volume Mode",
    "label": "Chế độ Volume",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 420,
    "wires": []
  },
  {
    "id": "ui_text_lock_mode",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 2.3,
    "width": 12,
    "height": 1,
    "name": "Text: Lock Mode",
    "label": "Chế độ Khóa",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 450,
    "wires": []
  },
  {
    "id": "ui_text_device_status",
    "type": "ui_text",
    "z": "tab_esp32_iot",
    "group": "ui_group_status",
    "order": 3,
    "width": 12,
    "height": 1,
    "name": "Text: Device Status",
    "label": "Trạng thái ESP32",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 560, "y": 480,
    "wires": []
  },
  {
    "id": "ui_btn_lock",
    "type": "ui_button",
    "z": "tab_esp32_iot",
    "name": "Btn: LOCK",
    "group": "ui_group_control",
    "order": 2.7,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "🔐 KHÓA",
    "color": "white",
    "bgcolor": "#d32f2f",
    "payload": "LOCK",
    "payloadType": "str",
    "topic": "iot/control/lock",
    "topicType": "str",
    "x": 480, "y": 570,
    "wires": [["mqtt_out_lock"]]
  },
  {
    "id": "ui_btn_unlock",
    "type": "ui_button",
    "z": "tab_esp32_iot",
    "name": "Btn: UNLOCK",
    "group": "ui_group_control",
    "order": 2.8,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "🔓 MỞ KHÓA",
    "color": "white",
    "bgcolor": "#1565c0",
    "payload": "UNLOCK",
    "payloadType": "str",
    "topic": "iot/control/lock",
    "topicType": "str",
    "x": 480, "y": 620,
    "wires": [["mqtt_out_lock"]]
  },
  {
    "id": "ui_btn_vol_on",
    "type": "ui_button",
    "z": "tab_esp32_iot",
    "name": "Btn: Volume Mode ON",
    "group": "ui_group_control",
    "order": 3,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "🎛️ VOLUME ON",
    "color": "white",
    "bgcolor": "#2e7d32",
    "payload": "ON",
    "payloadType": "str",
    "topic": "iot/control/vol_mode",
    "topicType": "str",
    "x": 480, "y": 710,
    "wires": [["mqtt_out_vol_mode"]]
  },
  {
    "id": "ui_btn_vol_off",
    "type": "ui_button",
    "z": "tab_esp32_iot",
    "name": "Btn: Volume Mode OFF",
    "group": "ui_group_control",
    "order": 4,
    "width": 6,
    "height": 1,
    "passthru": false,
    "label": "🎛️ VOLUME OFF",
    "color": "white",
    "bgcolor": "#c62828",
    "payload": "OFF",
    "payloadType": "str",
    "topic": "iot/control/vol_mode",
    "topicType": "str",
    "x": 480, "y": 760,
    "wires": [["mqtt_out_vol_mode"]]
  },
  {
    "id": "ui_btn_auto_mode",
    "type": "ui_button",
    "z": "tab_esp32_iot",
    "name": "Btn: AUTO MODE",
    "group": "ui_group_control",
    "order": 4.5,
    "width": 12,
    "height": 1,
    "passthru": false,
    "label": "🤖 CHUYỂN VỀ CHẾ ĐỘ TỰ ĐỘNG",
    "color": "white",
    "bgcolor": "#0288d1",
    "payload": "AUTO",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 480, "y": 810,
    "wires": [["func_auto_reset_servo"]]
  },
  {
    "id": "func_auto_reset_servo",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Auto Mode & Reset Servo",
    "func": "// Output 0: Send AUTO command\nvar msg1 = {payload: \"AUTO\"};\n\n// Output 1: Send 0 to reset servo immediately  \nvar msg2 = {payload: \"0\"};\n\n// Output 2: Send 0 to reset slider UI after short delay\nvar msg3 = {payload: 0};\nsetTimeout(() => {\n  node.send([null, null, msg3]);\n}, 150);\n\nnode.send([msg1, msg2, null]);\nreturn;",
    "outputs": 3,
    "x": 600, "y": 810,
    "wires": [["mqtt_out_servo"], ["mqtt_out_servo"], ["func_slider_reset"]]
  },
  {
    "id": "func_slider_reset",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Update Slider Display",
    "func": "msg.ui_control = {update: {slider_value: 0}};\nnode.send(msg);\nreturn msg;",
    "outputs": 1,
    "x": 750, "y": 810,
    "wires": [["ui_slider_servo"]]
  },
  {
    "id": "ui_slider_servo",
    "type": "ui_slider",
    "z": "tab_esp32_iot",
    "name": "Slider: Servo Angle",
    "label": "Góc Servo (°)",
    "group": "ui_group_control",
    "order": 5,
    "width": 12,
    "height": 1,
    "passthru": true,
    "outs": "end",
    "topic": "",
    "min": 0,
    "max": 180,
    "step": 1,
    "x": 480, "y": 860,
    "wires": [["func_servo_format"]]
  },
  {
    "id": "func_servo_format",
    "type": "function",
    "z": "tab_esp32_iot",
    "name": "Format Servo Cmd",
    "func": "msg.payload = String(Math.round(msg.payload));\nreturn msg;",
    "outputs": 1,
    "x": 600, "y": 800,
    "wires": [["mqtt_out_servo"]]
  },
  {
    "id": "ui_text_input_lcd",
    "type": "ui_text_input",
    "z": "tab_esp32_iot",
    "name": "Input: LCD Message",
    "group": "ui_group_control",
    "order": 6,
    "width": 12,
    "height": 1,
    "passthru": true,
    "mode": "text",
    "delay": 0,
    "topic": "",
    "label": "Tin nhắn LCD (line1|line2)",
    "tooltip": "Dùng | để phân cách 2 dòng. Vd: Hello World|Line 2",
    "color": "",
    "x": 460, "y": 920,
    "wires": [["mqtt_out_lcd"]]
  },


  {
    "id": "mqtt_broker_config",
    "type": "mqtt-broker",
    "name": "Local Mosquitto",
    "broker": "localhost",
    "port": "1883",
    "clientid": "NodeRED_Client",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },


  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "ESP32 IoT Dashboard",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "📡 Dữ liệu Cảm biến",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "📶 Trạng thái Hệ thống",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_group_control",
    "type": "ui_group",
    "name": "🎛️ Điều khiển Thiết bị",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  }
]
